@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


.app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header header header header'
                       'addbox graph graph graph';
  font-family: 'Cormorant Garamond', serif;
  color: rgba(37, 30, 34, 0.8);
}

header {
  grid-area: header;
  text-align: center;
  height: auto;
  margin: 0;
}

header h1 {
  font-family: 'Marck Script', cursive;
  font-size: 4.5em;
}

.addBox {
  text-align: center;
  grid-area: addbox;
  display: flex;
  flex-direction: column;
}

#cy {
  grid-area: graph;
  width: 100%;
  height: 80vh;
}

input {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 5px;
}