@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
@import url("https://fonts.googleapis.com/css?family=Marck+Script");
@import url("https://fonts.googleapis.com/css?family=Nixie+One");
@import url("https://fonts.googleapis.com/css?family=Gravitas+One");
@import url("https://fonts.googleapis.com/css?family=Trochut");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
.app {
  background-color: #F4F8F6;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'nav header .' 'nav main .' 'footer footer footer';
  font-family: "Nixie One", cursive;
  color: #2C2029;
  height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  height: auto;
  margin: 0;
  padding: 20px;
  justify-items: center;
}

main {
  grid-area: main;
  height: 100%;
  width: 100%;
  font-size: 50px;
}

nav {
  margin-left: 15px;
  grid-area: nav;
  text-align: center;
}
nav ul {
  display: none;
}
nav li button {
  margin: 5px;
  border: 1px solid #2C2029;
  background: transparent;
  color: #2C2029;
  height: auto;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Nixie One", cursive;
}

nav:hover ul {
  display: block;
}

.fa-code-branch {
  font-size: 5em;
  padding: 30px;
  color: #F0923C;
}

button:hover {
  background-color: rgba(162, 153, 164, 0.5);
  box-shadow: none;
}

button:selected {
  background-color: #E04627;
  box-shadow: none;
}

.authForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  height: 60%;
  justify-content: space-between;
  font-size: 0.6em;
  align-items: center;
}
.authForm input[type='submit'] {
  margin: 5px;
  border: 1px solid #2C2029;
  background: rgba(240, 146, 60, 0.6);
  color: #2C2029;
  height: auto;
  width: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Nixie One", cursive;
}
.authForm input[type='text'], .authForm input[type='password'] {
  width: 60%;
}
.authForm label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.authForm input[type='submit']:hover {
  background: #F0923C;
}

footer {
  text-align: center;
  grid-area: footer;
  padding: 5px;
  color: #F4F8F6;
  font-size: 1.5em;
  background-color: #E04627;
}

.loading {
  color: #E04627;
  margin: auto;
  text-align: center;
  font-size: 5em;
}

header h1 {
  padding-top: 20px;
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
}
header h1 span {
  color: #F0923C;
}

header h2 {
  font-size: 3em;
  color: #E04627;
}

.addBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border: 1px solid #2C2029;
}

#cy {
  justify-self: center;
  width: 100%;
  height: calc(100% - 50px);
  font-family: 'Nixie One', cursive;
}

input {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 5px;
}

.fa-times-circle {
  visibility: hidden;
}

main ul {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}
main ul li {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: .75em;
}
main ul li:hover .fa-times-circle {
  visibility: visible;
}

main .graph {
  display: flex;
  flex-direction: column;
}
