@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


.app {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'icon header header login'
                       'sidebar main main main'
                       'footer footer footer footer';
  font-family: 'Cormorant Garamond', serif;
  color: rgba(37, 30, 34, 0.8);
  height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  height: auto;
  margin: 0;
  justify-items: center;
}

header h1 {
  padding-top: 20px;
  font-family: 'Marck Script', cursive;
  font-size: 4.5em;
}

header h2 {
  font-size: 2em;
}

.addBox {
  text-align: center;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(68, 47, 62, 0.81);
  justify-content: center;
}

#cy {
  grid-area: main;
  justify-self: center;
  width: 70%;
  grid-row: 2/3;
  border: 4px solid rgba(68, 47, 62, 0.81);
}

input {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 5px;
}

.icon {
  grid-area: icon;
  width: 13vw;
  height: auto;
}
