@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');

$dark-color: rgba(37, 30, 34, 0.8);

.app {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header header'
                       'nav main .'
                       'footer footer footer';
  font-family: 'Cormorant Garamond', serif;
  color: $dark-color;
  height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  height: auto;
  margin: 0;
  justify-items: center;
}

main {
  grid-area: main;
  height: 100%;
  width: 100%;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
  margin-top: 3px;
  background-color: rgba(37, 30, 34, 0.8);
}

header h1 {
  padding-top: 20px;
  font-family: 'Marck Script', cursive;
  font-size: 4.5em;
}

header h2 {
  font-size: 2em;
}

.addBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid $dark-color;
}

#cy {
  justify-self: center;
  width: 100%;
  height: 100%;
  /* border: 4px solid rgba(68, 47, 62, 0.81); */
}

input {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 5px;
}

.icon {
  grid-area: icon;
  width: 13vw;
  height: auto;
}
